<p id="notice"><%= notice %></p>

<p>
	
  <b>Περιοχή:</b>
  <%= @area.name %>
<b>Ειδικότητα: </b>
<%= @profession.name %>
</p>
<% @doctors.each do |doctor| %>
<ul class = "doc-list">
	<li>Όνομα Ιατρού: <%=  doctor.name %> </li>
	<li>Διεύθυνση: <%= doctor.address%> </li>
	</ul>

<% end %>



