<p>Κατάλογος ιατρών (<%= @profession.name %>) στον <%= @prarea.name %></p>

<table>
  <tr>
    <th>Όνομα</th>
    <th>Βιογραφικό</th>
    <th>Image url</th>
    <th>Διεύθυνση</th>
    <th>Περιοχή</th>
    <th>Ειδικότητα</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @doctors.each do |doctor| %>
  <tr>
    <td><%= doctor.name %></td>
    <td><%= doctor.bio %></td>
    <td><%= doctor.image_url %></td>
    <td><%= doctor.address %></td>
    <td><%= doctor.area.name %></td>
    <td><%= doctor.profession.name %></td>
  
  </tr>
<% end %>
</table>

<br />


